{% extends 'layouts/default.html' %}

{% block index %}
    

        <div class="row" style="padding-bottom: 0.2%;">
            <div class="col-3" style="font-size: x-large; text-align: end; padding-bottom: 0.1%;">Actualités</div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/une">À la Une</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/en_continu">En Continu</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/videos">En vidéos</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/portfolios">Portfolios</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/les_plus_lus">Les plus lus</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/les_plus_partages">Les plus partagés</a></div>
            </div>
        </div>

        <div class="row" style="padding-bottom: 0.2%;">
            <div class="col-3" style="font-size: x-large; text-align: end; padding-bottom: 0.1%;">International</div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/une_international">À la Une</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/europe">Europe</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/ameriques">Amériques</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/asie">Asie Pacifique</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/proche_orient">Proche-Orient</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/royaume_uni">Royaume-Uni</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/etats_unis">États-Unis</a></div>
            </div>
        </div>

        <div class="row" style="padding-bottom: 0.2%;">
            <div class="col-3" style="font-size: x-large; text-align: end; padding-bottom: 0.1%;">France</div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/politique">Politique</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/societe">Société</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/les_decodeurs">Les décodeurs</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/justice">Justice</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/police">Police</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/campus">Campus</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/education">Éducation</a></div>
            </div>
        </div>

        <div class="row" style="padding-bottom: 0.2%;">
            <div class="col-3" style="font-size: x-large; text-align: end; padding-bottom: 0.1%;">Économie</div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/une_economie">À la Une</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/entreprises">Entreprises</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/argent">Argent</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/economie_francaise">Économie Française</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/industrie">Industrie</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/emploi">Emploi</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/immobilier">Immobilier</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/medias">Médias</a></div>
            </div>
        </div>

        <div class="row" style="padding-bottom: 0.2%;">
            <div class="col-3" style="font-size: x-large; text-align: end; padding-bottom: 0.1%;">Culture</div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/une_culture">À la Une</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/cinema">Cinéma</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/musiques">Musiques</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/television_et_radio">Télévision et Radio</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/le_monde_des_livres">Le Monde des Livres</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/arts">Arts</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/scenes">Scènes</a></div>
            </div>
        </div>

        <div class="row" style="padding-bottom: 0.2%;">
            <div class="col-3" style="font-size: x-large; text-align: end; padding-bottom: 0.1%;">Sport</div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/une_sport">À la Une</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/football">Football</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/rugby">Rugby</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/tennis">Tennis</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/cyclisme">Cyclisme</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/basket">Basket</a></div>
            </div>
        </div>

        <div class="row" style="padding-bottom: 0.2%;">
            <div class="col-3" style="font-size: x-large; text-align: end; padding-bottom: 0.1%;">Planète</div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/une_planete">À la Une</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/climat">Climat</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/agriculture">Agriculture</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/environnement">Environnement</a></div>
            </div>
        </div>

        <div class="row" style="padding-bottom: 0.2%;">
            <div class="col-3" style="font-size: x-large; text-align: end; padding-bottom: 0.1%;">Pixels</div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/une_pixels">À la Une</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/jeux_video">Jeux vidéo</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/culture_web">Culture web</a></div>
            </div>
        </div>

        <div class="row" style="padding-bottom: 0.2%;">
            <div class="col-3" style="font-size: x-large; text-align: end; padding-bottom: 0.1%;">Sciences</div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/une_sciences">À la Une</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/espace">Espace</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/biologie">Biologie</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/medecine">Médecine</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/physique">Physique</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/sante">Santé</a></div>
            </div>
        </div>

        <div class="row" style="padding-bottom: 0.2%;">
            <div class="col-3" style="font-size: x-large; text-align: end; padding-bottom: 0.1%;">Opinions</div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/une_opinions">À la Une</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/editoriaux">Éditoriaux</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/chroniques">Chroniques</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/tribunes">Tribunes</a></div>
            </div>
        </div>

        <div class="row" style="padding-bottom: 0.2%;">
            <div class="col-3" style="font-size: x-large; text-align: end; padding-bottom: 0.1%;">M le mag</div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/une_m_le_mag">À la Une</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/epoque">L'époque</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/styles">Styles</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/gastronomie">Gastronomie</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/recettes">Recettes du monde</a></div>
            </div>
            <div class="col-1">
                <div class="d-flex align-content-center justify-content-center flex-wrap text-center border border-dark rounded" style="height: 50px; width: 100px;font-size: 0.8rem;"><a class="link-dark link-offset-2 link-underline-dark" href="/sexo">Sexo</a></div>
            </div>
        </div>
{% endblock index %}